/*Fonts*/
@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto-Regular.woff2);
  src: url(fonts/Roboto-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto-Medium.woff2);
  src: url(fonts/Roboto-Medium.woff);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto-Bold.woff2);
  src: url(fonts/Roboto-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

/* Variables */
:root {
  --basic-black: #000;
  --basic-white: #FFF;
  --basic-text: #283136;
  --basic-light-special: #444;
  --basic-light-dark: #666;
  --basic-neutral: #EEE;
  --basic-focus: #FB565A;
  --basic-button-focus: #E74246;
  --basic-button-active: #D7373B;
}

/*Global*/
.page-body {
  margin: 0;
  padding: 0;
  min-width: 960px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
  color: #000;
  background-color: var(--basic-white);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/*Main header*/
.main-header {
  background-color: var(--basic-neutral);
}

/*Main navigation*/
.main-navigation {
  color: var(--basic-black);
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;

}

.site-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: var(--basic-focus);
}

.site-navigation a:active,
.user-navigation a:active {
  color: inherit;
  opacity: 0.3;
}

/*Slider*/
.slider {
  background-color: var(--basic-neutral);
}