/*Fonts*/
@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto-Regular.woff2);
  src: url(fonts/Roboto-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto-Medium.woff2);
  src: url(fonts/Roboto-Medium.woff);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto-Bold.woff2);
  src: url(fonts/Roboto-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

/* Variables */
:root {
  --basic-black: #000;
  --basic-white: #FFF;
  --basic-text: #283136;
  --basic-light-special: #444;
  --basic-light-dark: #666;
  --basic-dark-special: #DFDFDF;
  --basic-neutral: #EEE;
  --basic-focus: #FB565A;
  --basic-button-focus: #E74246;
  --basic-button-active: #D7373B;
}

/*Global*/
.page-body {
  margin: 0;
  padding: 0;
  min-width: 960px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
  color: #000;
  background-color: var(--basic-white);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/*Main header*/
.main-header {
  background-color: var(--basic-neutral);
}

/*Main navigation*/
.main-navigation {
  color: var(--basic-black);
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;

}

.site-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: var(--basic-focus);
}

.site-navigation a:active,
.user-navigation a:active {
  color: inherit;
  opacity: 0.3;
}

/*Slider*/
.slider {
  background-color: var(--basic-neutral);
}

.slider-title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.slider-description {
  color: var(--basic-text);
}

/*Button*/
.button {
  text-align: center;
  vertical-align: middle;
  border: none;
  background-color: var(--basic-focus);
  color: var(--basic-white);
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
}

.filter-button {
  color: var(--basic-black);
  background-color: var(--basic-neutral);
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--basic-dark-special);
}

.filter-button:active {
  opacity: 0.3;
}

/*Services*/
.services-list {
  list-style: none;
}

.services-item h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.services-item-description {
  color: var(--basic-text);
}

/*Features*/
.features-title {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.features-description {
  color: var(--basic-text);
}

.features-paragraph {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: var(--basic-text);
}

.features-list li {
  color: var(--basic-text);
}

/*Statistics*/
.statistics-title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.statistics-defines dt {
  font-size: 45px;
  font-weight: 700;
  line-height: 64px;
}

.statistics-defines sup {
  font-size: 26px;
  font-weight: 700;
  line-height: 40px;
}

.statistics-defines dd {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: var(--basic-text);
}

/*Partners*/
.partners-list {
  list-style: none;
}

/*Contacts*/
.contacts h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts-adress,
.contacts-phone {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: var(--basic-light-dark);
}

/*Inner page */

/*Page catalog*/
.page-title {
  background-color: var(--basic-neutral);
}

.page-title h1 {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

/*Filters*/
.filter legend {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
}

.filter-input-radio,
.filter-input-checkbox {
  opacity: 0.4;
}



/*Main footer*/
.social-list {
  list-style: none;
}

.footer-slogan {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

.footer-sale {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

/*Popup submit*/
.submit h2 {
  font-size: 45px;
  font-weight: 700;
  line-height: normal;
}

.submit-item label {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.submit-item input,
.submit-form textarea {
  border-radius: 3px;
  border: 2px solid #D7DCDE;
  background-color: var(--basic-white);
}

.submit-item input:hover,
.submit-form textarea:hover {
  border-radius: 3px;
  border: 2px solid #B4B9BB;
  background-color: var(--basic-white);
}

.submit-item input:focus,
.submit-form textarea:focus {
  border-radius: 3px;
  border: 2px solid #000;
  background-color: var(--basic-white);
}