/*Fonts*/
@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto-Regular.woff2);
  src: url(fonts/Roboto-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto-Medium.woff2);
  src: url(fonts/Roboto-Medium.woff);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto-Bold.woff2);
  src: url(fonts/Roboto-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

/* Variables */
:root {
  --basic-black: #000;
  --basic-white: #FFF;
  --basic-text: #283136;
  --basic-light-special: #444;
  --basic-light-dark: #666;
  --basic-dark-special: #DFDFDF;
  --basic-neutral: #EEE;
  --basic-focus: #FB565A;
  --basic-button-focus: #E74246;
  --basic-button-active: #D7373B;
  --basic-button-center: #00CA74;
  --basic-burron-right: #EFC849;
}

/*Global*/
.page {
  height: 100%;
}

.page-body {
  margin: 0;
  padding: 0;
  min-width: 1170px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
  color: var(--basic-black);
  background-color: var(--basic-white);

  min-height: 100%;
  /*Прилипший футер*/
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Main header*/
.main-header-bar {
  background-color: var(--basic-neutral);
}

.main-header-logo svg {
  grid-column: 1 / 2;
}

.main-header-logo svg path:hover,
.main-header-logo svg path:focus {
  fill: var(--basic-light-special);

}

.main-header-logo svg path:active {
  fill: var(--basic-dark-special);
}

/*Main navigation*/
.main-navigation {
  color: var(--basic-black);
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 159px 1fr min-content;
  gap: 20px;
}

.site-navigation {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.site-navigation li {
  margin-right: 45px;
}

.site-navigation li:last-child {
  margin-right: 0;
}

.site-navigation a,
.user-navigation a {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: var(--basic-focus);
}

.site-navigation a:active,
.user-navigation a:active {
  color: inherit;
  opacity: 0.3;
}

.user-navigation {
  display: flex;
  align-items: center;
  padding-left: 40px;
  position: relative;
}

.basket::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 30px;
  left: 8px;
  background: url("/img/icons/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*Main content*/
.main-content h1 {
  display: none;
}

/*Slider*/
.slider-bar {
  background-color: var(--basic-neutral);
}

.slider {
  display: grid;
  grid-template-columns: 1fr 761px;
  grid-template-rows: 1fr;
  margin-bottom: 80px;
}

.slider-wrapper {
  width: 538px;
  margin-top: 78px;
  order: 2;
  grid-column: 1 / -1;
  grid-row: 1 / -1;

}

.slider-title {
  /*width: 538px;*/
  margin: 0;
  padding: 0;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  margin-bottom: 37px;
}

.slider-description {
  color: var(--basic-text);
  margin: 0;
  padding: 0;
  margin-bottom: 27px;
}

.slider-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-column: 2 / 3;
  grid-row: 1 / -1;
  order: 1;
}

/*Button*/
.button {
  text-align: center;
  border: none;
  background-color: var(--basic-focus);
  color: var(--basic-white);
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 16px 40px;
}

.slider-button {
  min-width: 240px;
  /*для перезаполнения текста кнопки*/
  box-sizing: border-box;
  display: inline-block;
}

/*Services button*/
.services-button {
  width: 160px;
  box-sizing: border-box;
  display: inline-block;
}

.slider-button:hover,
.services-button_site:hover,
.contacts-button:hover,
.submit-button:hover,
.slider-button:focus,
.services-button_site:focus,
.contacts-button:focus,
.submit-button:focus {
  background-color: #E74246;
  color: rgba(255, 255, 255, 0.8);
}

.slider-button:active,
.services-button_site:active,
.contacts-button:active,
.submit-button:active {
  background-color: #D7373B;
  color: rgba(255, 255, 255, 0.2);
}

.services-button_app {
  background-color: var(--basic-button-center);
}

.services-button_app:hover,
.services-button_app:focus {
  background-color: #00BC6C;
  color: rgba(255, 255, 255, 0.8);
}

.services-button_app:active {
  background-color: #00AA62;
  color: rgba(255, 255, 255, 0.2);
}

.services-button_presentation {
  background-color: var(--basic-burron-right);
}

.services-button_presentation:hover,
.services-button_presentation:focus {
  background-color: #EAB534;
  color: rgba(255, 255, 255, 0.8);
}

.services-button_presentation:active {
  background-color: #E5A722;
  color: rgba(255, 255, 255, 0.2);
}

.contacts-button {
  width: 219px;
  box-sizing: border-box;
  display: inline-block;
}

.filter-button {
  color: var(--basic-black);
  background-color: var(--basic-neutral);
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--basic-dark-special);
}

.filter-button:active {
  opacity: 0.3;
}

/*Services index.html*/
.services {
  margin-bottom: 80px;
}

.services h2 {
  display: none;
}

.services-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 100px;
  margin-bottom: 80px;

}

.services-item {
  display: grid;
  grid-template-rows: 146px auto auto auto;
}

.services-img {
  order: -1;
}

.services-item h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-top: 25px;
  margin-bottom: 16px;
}

.services-item-description {
  color: var(--basic-text);
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}

/*Index column*/
.index-column {
  border-top: 2px solid var(--basic-neutral);
  margin-bottom: 73px;
  display: grid;
  grid-template-columns: 1fr 360px;
  gap: 40px;
}

/*Features*/
.features {
  padding-top: 73px;
}

.features h2 {
  display: none;
}

.features-title {
  margin: 0;
  padding: 0;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  margin-bottom: 32px;
}

.features-description {
  margin: 0;
  padding: 0;
  color: var(--basic-text);
  margin-bottom: 40px;
}

.features-paragraph {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: var(--basic-text);
  text-transform: uppercase;
  margin-bottom: 23px;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 45px;
}

.features-list li {

  position: relative;
  color: var(--basic-text);
  margin-bottom: 20px;
}

.features-list li::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -40px;
  width: 25px;
  height: 2px;
  background-color: var(--basic-focus);


}

/*Statistics*/
.statistics {
  display: grid;
  grid-template-rows: repeat(3, auto);
  padding-top: 39px;
}

.statistics h2 {
  display: none;
}

.statistics-img {
  margin-bottom: 37px;
}

.statistics-title {
  margin: 0;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 31px;
}

/*Statistics defines*/
.statistics-defines {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  /*grid-template-areas:
    "defines-1 defines-2 defines-3"
    "describes-1 describes-2 describes-3"
  ;*/
}

.defines-1 {
  grid-area: 1 / 1 / 2 / 2;
}

.describes-1 {
  grid-area: 2 / 1 / 3 / 2;
}

.defines-2 {
  grid-area: 1 / 2 / 2 / 3;
}

.describes-2 {
  grid-area: 2 / 2 / 3 / 3;
}

.statistics-defines dt {
  margin: 0;
  font-size: 45px;
  font-weight: 700;
  line-height: 64px;
}

.statistics-defines sup {
  font-size: 26px;
  font-weight: 700;
  line-height: 40px;
}

.statistics-defines dd {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: var(--basic-text);
}

/*Partners*/
.partners {
  margin-bottom: 80px;
}

.partners h2 {
  display: none;
}

.partners-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  align-content: center;
  border-top: 2px solid var(--basic-neutral);
  border-bottom: 2px solid var(--basic-neutral);
  padding-top: 46px;
  padding-bottom: 44px;
}

.partners-list img {
  max-width: 209px;
  opacity: 0.3;
}

.partners-list img:hover,
.partners-list img:focus {
  opacity: 1;
}

.partners-list img:active {
  opacity: 0.1;
}

/*Contacts*/
.contacts-wrapper {
  background-image: url(/img/icons/map.png);
  height: 416px;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
}

.contacts-box {
  background-color: var(--basic-white);
  width: 319px;
  padding: 49px 50px 47px 50px;
  /*margin-top: 35px;*/
  display: flex;
  flex-direction: column;
  padding-top: 54px;
  box-sizing: border-box;
}

.contacts h2 {
  display: none;
}

.contacts-box p,
.contacts-box h3 {
  margin-top: 0;
  padding: 0;
}

.contacts h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.contacts-adress,
.contacts-phone a {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: var(--basic-light-dark);
}

.contacts-adress {
  margin-top: 0;
  margin-bottom: 10px;

}

.contacts-phone {
  margin-bottom: 37px;
}

/*Inner page */


/*Page catalog*/
.page-title-bar {
  background-color: var(--basic-neutral);
}

.page-title {
  background-color: var(--basic-neutral);
  min-height: 241px;
  margin-bottom: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-title h1 {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  margin: 0;
  padding: 0;

}

.page-catalog-wrapper {
  display: grid;
  grid-template-columns: 260px 1fr;

}

/*Filters*/
.filter {
  border: 2px solid red;
}

.filter .filter-item {
  margin-bottom: 50px;
}

.filter-item legend {
  margin-bottom: 48px;
}

.filters h2,
.sorting h2 {
  display: none;
}

.filter fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter legend,
.catalog p {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}


.filter p {
  margin: 0;
  padding: 0;
}

.filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.range-filter {
  /*width: 260px;*/
  display: flex;
  flex-direction: column;
}

/*Range*/
.range-controls {
  width: 220px;
  height: 41px;
  /*Так как внутренние отступы учитываются в размер объекта, уменьшим высоту объекта на размер верхнего внутреннего отступа.*/
  margin-bottom: 14px;
  padding-top: 39px;
  /*(h=80px-2px):2 = 39px*/
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--basic-neutral);
  border-radius: 3px;
  position: relative;
  /*для кружков-переключателей двигать шкалу*/
}

.range-controls .scale {
  /*стили шкалы*/
  height: 2px;
  background: #D7DCDF;
}

.range-controls .bar {
  width: 70%;
  /*временная ширина, надо прописать в html коде и удалить*/
  height: 2px;
  background: #00CA74;
}

.range-controls .toggle {
  position: absolute;
  top: 29px;
  width: 4px;
  height: 4px;
  padding: 0;
  margin: 0;
  border: 8px solid var(--basic-white);
  background-color: #ABABAB;
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 16px;
}

.range-controls .toggle-max {
  right: 78px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  text-align: center;
  font-family: inherit;
  /*поля форм по умолчанию не наследуют от родителя шрифтьi*/
  font-size: inherit;
  background-color: var(--basic-neutral);
  border: none;
  border-radius: 3px;
}

.price-controls input:last-child {
  margin-right: 0;
}

.price-controls label {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

/*Filter radio*/
.filter .filter-layout {
  margin-bottom: 47px;
}

.filter-layout legend,
.filter-features legend {
  margin-bottom: 13px;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 40px;
}

.filter-option label {
  display: block;
  position: relative;
  cursor: pointer;
}

.filter-input-radio+label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -38px;
  width: 16px;
  height: 16px;
  border: 3px solid var(--basic-black);
  opacity: 0.3;
  border-radius: 50%;
}

.filter-input-radio:checked+label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -31px;
  width: 8px;
  height: 8px;
  background: var(--basic-black);
  opacity: 0.3;
  border-radius: 50%;
}

/*Checkbox*/
.filter-input-checkbox label {
  display: block;
  position: relative;
  cursor: pointer;
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -39px;
  width: 23px;
  height: 23px;
  /*border: 2px solid var(--basic-black);
  opacity: 0.3;
  border-radius: 3px;*/
  background-image: url("/img/icons/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked+label::after {
  content: "";
  position: absolute;
  top: 0px;
  left: -39px;
  width: 23px;
  height: 23px;
  background-image: url("/img/icons/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter .filter-features {
  margin-bottom: 48px;
}

/*Sorting*/

/*.sorting {
  grid-column: 2 / 3;
}*/
.sorting-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.sorting-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

}

.sorting-list a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.sorting-list li {
  margin-right: 25px;
}

.sorting-list li:last-child {
  margin-right: 0;
}

/*Catalog*/
.catalog {
  grid-column: 2 / 3;
  margin-left: 141px;
}

.catalog h2 {
  display: none;
}

.catalog p {
  margin: 0;
  padding: 0;
}

.catalog-wrapper {}

.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

}

.catalog-list li {
  margin-bottom: 41px;
  margin-right: 31px;
}

.catalog-list li:nth-child(2n) {
  margin-right: 0;
}

.item-wrapper {
  width: 360px;
  height: 231px;
  background-color: var(--basic-neutral);
  text-align: center;
}

.item-box {
  padding: 26px 0 44px 0;
}

.item-box .item-box-title {
  color: var(--basic-black);
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.item-box p,
.item-box h3 {
  margin: 0;
  padding: 0;
}

.item-box h3 {
  margin-bottom: 12px;
}

.item-box p {
  text-transform: none;
  margin-bottom: 32px;
  color: var(--basic-light-dark);
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

/*Pagination*/
.pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
}


/*Main footer*/
.main-footer {
  margin-bottom: 50px;
}

.footer-social {
  display: flex;
  align-items: center;

}

.social-list {
  width: 270px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 9px;
  margin-right: 139px;
}

/*Social button*/
.social-button {
  width: 81px;
  height: 81px;
  background-color: #E1E1E1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
  background-color: #E74246;
}

.social-button:active {
  background-color: #D7373B;
}

.social-button:active path {
  fill: rgba(255, 255, 255, 0.2);
}

.footer-text p {
  margin: 0;
  padding: 0;
}

.footer-text .footer-title {
  margin-bottom: 10px;
}

.footer-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

.footer-sale {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

/*Popup submit*/
.submit {
  width: 960px;
  display: grid;
  justify-content: center;
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.40);
}

.submit-wrapper {
  padding: 63px 100px 84px 100px;
  box-sizing: border-box;
  position: relative;
}

.submit-wrapper h2 {
  font-size: 45px;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  padding: 0;
  margin-bottom: 64px;
}

.submit-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.submit-item {
  margin: 0;
  margin-bottom: 34px;
}

.submit-item input {
  box-sizing: border-box;
  width: 360px;
  padding: 16px;
}

.submit-item label {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 9px;
  display: block;
}

.submit-item:nth-child(3) textarea {
  width: 760px;
  margin-bottom: 47px;
  padding: 16px;
}

.submit-item input,
.submit-form textarea {
  border-radius: 3px;
  border: 2px solid #D7DCDE;
  background-color: var(--basic-white);
}

.submit-item input:hover,
.submit-form textarea:hover {
  border-radius: 3px;
  border: 2px solid #B4B9BB;
  background-color: var(--basic-white);
}

.submit-item input:focus,
.submit-form textarea:focus {
  border-radius: 3px;
  border: 2px solid #000;
  background-color: var(--basic-white);
}

.submit-button {
  width: 259px;
}

.submit-close img {
  width: 21px;
  height: 21px;
  opacity: 0.6;
  position: absolute;
  top: 68px;
  right: 98px;
}

.submit-close:hover img,
.submit-close:focus img {
  opacity: 1.0;
}

.submit-close:active img {
  opacity: 0.1;
}